.network-device {
	-fx-background-color: -ex-background-text;
	-fx-background-insets: 15px;

	-fx-border-color: -ex-background-tabs;
	-fx-border-style: solid;
	-fx-border-insets: 10px;
	-fx-border-width: 5px;

	-fx-padding: 10;
}

.network-device .text-field {
	-fx-background-color: transparent;
	/*-fx-border-width: 0;*/
	/*-fx-border-insets: 0;*/
	-fx-padding: 0;
}

.network-device .text-field:focused {
	-fx-background-color: -ex-background-text;
}
