.network-device {
	/*-fx-background-color: -ex-background-text;*/
	/*-fx-background-insets: 15px;*/

	/*-fx-border-color: -ex-background-tabs;*/
	/*-fx-border-style: solid;*/
	/*-fx-border-insets: 10px;*/
	/*-fx-border-width: 5px;*/

	-fx-padding: 5;
}

.network-device:focused {
	-fx-background-color: -ex-background-tags;
}

.network-device-details {
	-fx-background-color: -ex-background-note;
	-fx-background-radius: 1.5mm 1.5mm 1.5mm 1.5mm;
	-fx-padding: 0.5mm 1mm 0.5mm 1mm;
}

.network-device-details .text-field {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.network-device-details .text-field:focused {
	-fx-background-color: -ex-background-text;
}

.network-group-view {
	-fx-background-color: -ex-background-text;
}

.network-device-connector {
	-fx-stroke: gray;
}