.network-device {
	/*-fx-background-color: -ex-background-text;*/
	/*-fx-background-insets: 15px;*/

	/*-fx-border-color: -ex-background-tabs;*/
	/*-fx-border-style: solid;*/
	/*-fx-border-insets: 10px;*/
	/*-fx-border-width: 5px;*/

	-fx-padding: 5px;
}

.network-device:focused {
	-fx-background-color: -ex-background-tags;
}

.network-device-expected {
	-fx-stroke: transparent;
}

.network-device-expected:focused {
	-fx-stroke: -fx-focus-color;
}

.device-details {
	-fx-background-color: -ex-background-text;
	-fx-background-radius: 1.5mm 1.5mm 1.5mm 1.5mm;
	-fx-padding: 0.5mm 1mm 0.5mm 1mm;
}

.device-details .text-input {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.device-details .text-input:focused {
	-fx-background-color: -ex-background-tabs;
}

.level-view {
	-fx-padding: 20px 0 20px 0;
	-fx-hgap: 5px;
}

.group-view {
	-fx-background-color: -ex-background-text;
	/*-fx-padding: 5px 5px 0 5px;*/
}

.group-connector {
	-fx-stroke: -fx-text-base-color;
}